html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}


.main--wrapper {
  display: flex;
  gap: 30px;
  flex-direction: column;
  height: 100%;
  width: 800px;
}

.header--container {
  margin-top: 3rem;
  width: 100%;
  height: 10rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-weight: 600;
  font-size: 2.5rem;
  color: black;
  align-items: center;
}

.search--input {
  background: none;
  width: 98%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  height: 50px;
  font-size: 1.3rem;
  font-family: Poppins;
  padding: 0 0 0 1rem;
  margin: 0;
}

.typescriptLogo {
  height: 3rem;
  aspect-ratio: 1;
  margin: 0 1rem -.25rem 1rem;
}

.search--input:focus {
  outline: none;
}

.submit--input {
  position: absolute;
  display: block;
  margin-left: 43.5rem;
  margin-top: -2.8rem;
  width: 6rem;
  height: 2.5rem;
  border-radius: .7rem;
  border: none;
  background: white;
  color: grey;
  font-family: Poppins;
  font-weight: 600;
  font-size: 1rem;
  box-shadow: 0 0 0 1px grey;
  cursor: pointer;
  transition: .2s
}

.submit--input:hover {
  background: grey;
  color: white;
}

.submit--input:active {
  background: black;
}

.task--container {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 90%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: Poppins;
  font-weight: 600;
  padding: 0rem 1rem 0rem 1rem;
  line-height: 1.5rem;
  transition: height .1s, box-shadow .5s, background .3s;
  transition-timing-function: ease;
  background: white;
}

.task--container:hover {
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  background: rgba(0, 0, 0, 0.03);
}

.grid--container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  height: 100%;
  margin-bottom: 4rem;
  overflow-y: scroll;
  /* border: 1px solid red; */
}

/* Left Grid */

.grid--left, .grid--right {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.grid--left--header, .grid--right--header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 5rem;
  background: rgb(207, 23, 23);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1.5rem;
  font-family: Poppins;
  font-weight: 600;
  color: white;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#grid--right--header {
  background: rgb(39, 196, 252);
}

.grid--left--container, .grid--right--container {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 15px;
  grid-template-columns: 100%;
  grid-auto-rows: 4rem;
  height: 100%;
  width: 90%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 0 0 2px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.task--icon--container {
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
}

.task--status, .task--delete, .task--edit {
  cursor: pointer;
}

.edit--input {
  width: 70%;
  height: 40%;
  font-size: 1rem;
  font-family: poppins;
  font-weight: 600; 
}
